

div {
    border-radius: 10px;
    text-align:center;
    padding: 0px;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 
}

.card {
    
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    padding: 20px;
    
}



.header {
    color: #6b6b6d;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: row;

}

/* display temp */

.temp {
    font-size: 4.5rem;
    margin: 0;
    font-weight:lighter;
    
}

sup {
    font-size: 2rem;
    margin: 0px;
}

/* display city and country */

.location {
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#place {
    font-size: 2rem;
    margin: 0 10px 0 50px;
    
}

#country {
    font-size: 0.77em;
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    align-self: middle;
    

}

/* display weather description */

.content {
    padding: 5px;
    width: 60%;
    
}

#current {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

