

div {
    border-radius: 10px;
    text-align:center;
    padding: 0px;
 
}

.card {
    background-color:lightgrey;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.refresh {
   float:right;
}


.header {
    font-size:2em;
    color: #333;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;

}

.content {
    padding: 10px;
    
}

#current {
    font-size: 0.8em;
    text-transform: uppercase;

}

#country {
    font-size: 15px;
    background-color: darkgrey;
    padding: 3px;
    border-radius: 5px;
    vertical-align: center;
}

.temp {
    
    font-size: 5em;
    font-weight: bold;
    margin:0px;
}

.low {
    font-size: 5em;
    font-weight: bold;
    margin:0px;
    color: rgb(94, 161, 202);
}

.mid {
    font-size: 5em;
    font-weight: bold;
    margin:0px;
    color: rgb(108, 158, 108);
}

.warm {
    font-size: 5em;
    font-weight: bold;
    margin:0px;
    color: rgb(218, 172, 87);
}

.hot {
    font-size: 5em;
    font-weight: bold;
    margin:0px;
    color: rgb(219, 90, 90);
}