@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


* {

  padding: 0px;
}

body {
  

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6b6b6d;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}

@-webkit-keyframes Gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.low {
  
  background: radial-gradient( #d8d9e9, #87aad0, #7d9fc4 );
  background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  width: 100wh;
  position: relative;
  animation: Gradient 20s ease infinite;
  height:560px;
}

.mid {

  background: radial-gradient( #a9d8ee, #87cbd0, #6696ca );
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  width: 100wh;
  position: relative;
  animation: Gradient 20s ease infinite;
  height:560px;


}

.warm {
 
  background: radial-gradient( #97d7f0, #7ebfe4, #ffd194 );
  background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  width: 100wh;
  position: relative;
  animation: Gradient 20s ease infinite;
  height:560px;
}


.hot {
 
  background: radial-gradient( #fce0bb, #6cb3f5, #ffbf94 );
  background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  width: 100wh;
  position: relative;
  animation: Gradient 20s ease infinite;
  height:560px;

}

