@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

  padding: 0px;
}

body {
  background-color: #1e2327;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Roboto', sans-serif;
}